#!/bin/sh
xset -dpms
xset s off
xset s noblank

unclutter -idle 0.5 -root &   # hides mouse cursor, optional package

xrandr --output {{ kiosk_xrandr_output }} --mode {{ kiosk_xrandr_mode }} --rate {{ kiosk_xrandr_rate }} &

chromium --kiosk \
  --window-position={{ kiosk_chrome_window_position }} \
  --window-size={{ kiosk_chrome_window_size }} \
  --start-fullscreen \
  --enable-auto-reload \
  --noerrdialogs \
  --disable-infobars \
  --no-first-run \
  --disable-translate \
  --disable-features=TranslateUI \
  --check-for-update-interval=31536000 \
  --autoplay-policy=no-user-gesture-required \
  --overscroll-history-navigation=0 \
  --disable-accelerated-video-decode \
  --disable-pinch \
  "{{ kiosk_url }}"